@import "tailwindcss";
@import "tailwindcss/utilities";

@theme {
  --breakpoint-custom-xl: 1300px;
}

:root {
  --background: #ffffff;
  --foreground: #0A0C11;
}

/* Общие свойства для всех @font-face */
@font-face {
  font-family: "Involve";
  font-style: normal;
  font-display: swap;
  src: url('../../../public/fonts/Involve-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: "Involve";
  src: url('../../../public/fonts/Involve-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: "Involve";
  src: url('../../../public/fonts/Involve-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: "Involve";
  src: url('../../../public/fonts/Involve-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Involve", sans-serif;
}

.container {
  max-width: 1040px;
  margin: 0 auto;
  width: 100%;
}

@layer base {
  :where(p, h1, h2, h3, h4, h5, h6) {
    margin: 0;
    padding: 0;
  }
}

a:active,
a:hover,
a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}